
.screen{
 
    overflow-x: hidden;
}

#a{
    background-color: #4267B2;
    display: flex;
    
}

#icon{
    width: 20px;

    border-radius: 6px;
    margin: 10px 5px 5px 5px;
    

}
#sp{
    margin:2px 10px 1px 5px;
    display: flex;
    justify-content: space-around;
    display: inline-block;
}
#img{
    width: 10px;
    display: inline-block;
}

#b{
    background-color:#4267B2;;
    color: white;
    display: inline-block;
    font-size: 12pt;
    margin:2px 2px 1px 120px;
  
    /* margin: 2px 2px 2px 150px; */
}
   
#bb{
    background-color: white;
    color: black;
    display: inline-block;
    font-size: 10pt;
   
     line-height: 10px;
     margin-right: auto;
    /* margin: 10px 5px 5px 5px;  */
    
}
#bbb{
    background-color: #4267B2;
margin-left:100px;

}
#container ul{
list-style-type:none;
}
#container ul li{
    background-color: white;
    color:black;
    dispaly:inline-block;
}


nav>img{
    float:right;
    width: 100px;
}
.navbar{
    position: sticky;
}

.navbar2 {

position: sticky;
z-index: 8;
position: -webkit-sticky;
    
    
  }
ul>li{
    display: inline-block;
}
ul>li:hover{
    background-color: #4267B2;
 

    border-color:darkblue;
border:solid;
 border-radius:14px;
 position:relative;
}

#s {

    display:inline-block;
}
s:hover {
      background-color: #4267B2;

       display:inline-block;
}
.text{
    background-color:#f9f9ff ;
    margin: 0px 40px 0px 40px;  
    text-align-last: left;
    text-align: justify;
    
}

.box{width: 300px;
    height: 250px; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:#6b5acd;
    display: flex;
    flex-wrap:nowrap;
    justify-content:center;
     justify-content: space-around; 
    background-color: white;
    box-shadow: 2px 2px 15px grey;
    border:2px solidwhite;
  margin:30px  30px 30px 30px;
    overflow: hidden;
    flex-direction: row;


    
}
/* .ro{
    margin:auto;
} */
 .dd{

    flex-wrap:nowrap;
    justify-content: center; 

} 

.barea{

/* 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color:#6b5acd;
    display: flex;
    flex-wrap:nowrap;
    justify-content:center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 2px 2px 15px grey;
    border:2px solidwhite;
  margin: 30px auto;
    overflow: hidden;
    flex-direction: row; */
    /* width:600px; */
    width:230px;
    height:200px;

    display: inline-flexbox;
    justify-content: center;
    
justify-content: space-around;
    font-weight: bold;
    flex-wrap: nowrap;
    /* margin:auto 100px  auto 30px;  */
    overflow: hidden;
     margin:1px 50px 1px 30px; 
    text-align: center;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-top: 30px;
 }

 .col-md-4{
    display: flex;
    flex-wrap:nowrap;
    justify-content:center;
     justify-content: space-around; 
 }
  .wider{
   

    display: flex;
    flex-wrap:nowrap;
    justify-content:center;
     justify-content: space-around; 
    
    
     display: inline-block; 
    background-color:#f9f9ff ;
     width: 80%;
    height: 80px;
    padding:auto; 
    margin:10px -10px 10px 0px;
    border: 1px light grey;
    box-shadow: 1px 1px 1.9px darkgray;
  
    font-family: Georgia, 'Times New Roman', Times, serif ;
   text-align: center; 
    font-size: 20px;
    /* padding-top: 20px; */

} 
@media only screen and (max-width: 320px) {
   .wider{ display: inline-block; 
    background-color:#f9f9ff ;
     width: 250px;
    height: 80px;
    margin: 0px 0px 0px 0px;  
    /* margin:10px 10px 10px 10px; */
    font-family: Georgia, 'Times New Roman', Times, serif ;
   text-align: center; 
    font-size: 20px;}
    .head1{
        margin-left: 25px;
    }
   
  }
        @media only screen and (max-width: 999px) {
           .con-marq{
               display: block;
               margin-left: 70px;
              
            
           }
           .col-md-8{
               margin-right: 20px;
           }
        }
        @media only screen and (max-width: 760px) {
            .con-marq{
                display: block;
                text-align: center;
                margin-right: 330px;
                margin-top: 20px;
               
             
            }
            .col-md-8{
                margin-right: 20px;
            }
         }
         @media only screen and (max-width: 320px) {
            .con-marq{
                display: block;
                margin-left: 360px;
                margin-top: 20px;
                width: 100%;
                margin-top: 40px;
               
             
            }
            .col-md-8{
                margin-left: 70px;
           
            }
           
         }
 

  

        


 .ffff{
    width:900px;
    background-color: cadetblue;
    display: inline-block;
} 
.marq{
    display: block;

    
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
/* h3:after{
    content:"";
    display: block;
    width: 120px;
    height: 3px;
    background-color: green;
    position: absolute;
    left: 0;
    margin-left: 45px;
    top:5%;
    padding-left: 35px;
    z-index: -2;

} */
/* .row h2:after{
    content:"";
    display: block;
    width: 120px;
    height: 2px;
    background-color: green;
    position: absolute;
    left: 0;
    margin-left: 45px;
    top:5%;
    padding-left: 40px;
    z-index: auto;

} */


.ad{
    display: inline-block;
    

    
}
#adv{
    /* width: 220px;
    height: 100px; */
    width: 220px;
    height: 140px;
    display: inline-block; 
}
#i{
    width: 100%;
    justify-content: space-around;
    display: inline-block;
}
 
  .thumbnail:hover 
 {
     position: relative;
     top:-25px;
    left:-35px; 
    width:1500px;
    height:800px;
    display:block;
    z-index:1999;
} 



.btn-circle { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 150px; 
    font-size: 8px; 
    text-align: center;
   background-color:  #326dc3;
top:50%;
-ms-transform: translate(-200%, -100%); 
transform: translate(510%, -100%);
}
.circle { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 150px; 
    font-size: 8px; 
    text-align: center;
    background-color:  #326dc3;
top:50%;
-ms-transform: translate(-200%, -100%); 
transform: translate(520%, -100%);
}
.foot{
    display: flex;
    margin: 10px 0px 10px 0px;
    padding: 20px 20px;
    background-color:#232b2b;
    color:#ffeeeeee;
    font-size: 11pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.foot1{
  padding:80px 60px;
  display: inline-block;
}
.foot2{
    
    margin-top:-30px;
    display: inline-block;
    
}
.foot3{
    display: inline-block;

}
.yyyy{
    
    
     position: fixed;
     top:550px;
     right:10px;
     
     box-shadow: 5px 5px 10px black;
     border-radius: 50%;
    
     
    
    
    

}
.line:after{
    content:"";
    display: block;
    width: 300px;
    height: 3px;
    background-color:green;
    position: absolute;
    left: 0;
    margin-left: 18px;
    top:16%;
    padding-left: 35px;
    z-index: -2;
} 
.headline:after {
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    color:darkgreen;
    font-size: 20px;
}
.fontawesomefoot{
display: flex;
text-align: start;

}
.ig{
 margin-left:-470px; 
margin-top: 120px;
  margin-right: 310px;  
 display: flex;
 text-align: center;
 flex-wrap:nowrap;

  }
.igg{
    
    border-radius: 50%;
    width: 40px; 
    height: 40px; margin-top: -8px;
    margin-right: 5px;

    
    background-color:  #326dc3;
/* top:50%;
-ms-transform: translate(-200%, -100%); 
transform: translate(520%, -100%); */
}



@media only screen and (max-width: 580px) {
    .frog{
        
        text-align: center;
        display: inline-block;
        width: 100%;
        padding-bottom: 10px;
        
    }
/* 580px*886px */
    /* [class*="col-"] {
      width: 100%;
    } */
  }
  @media only screen and (max-width:630px){
      #b{
          text-align: center;
          width: 100%;
          margin-left: 10px;
      }
  }
  @media only screen and (max-width:580px){
    .frogy{
    
        padding-left: 10px;
    
    }
}
@media only screen and (max-width:630px){
    .barea{
    
        text-align: center;
        width: 100%;
        margin:20px 95px 20px 95px;
    
    }
}
@media only screen and (max-width:380px){
    .barea{
    
        text-align: center;
     
        margin:5px 0px 5px 0px;
    
    }
}

@media only screen and (max-width:320px){
    .med{
    
        text-align: center;
     
      font-size: 10pt;
      margin-left: 2px;;
    
    }
}
@media only screen and (max-width:600px){
    .box{
    
        
     
      font-size: 8pt;
      margin-left: 3px;;
      margin: 40px 0px 0px 3px;;
    
    }
}
@media only screen and (max-width:320px){
    .box{
    
        
     
      font-size: 6pt;
      font-weight: bold;
      margin-left: 5px -10px 0px 10px;
   
    }
    .screen{
        width: 100%;
    }
}
@media only screen and  (max-width:999px){
     .marq{
        display: block;
    }
    .wider{
        width: 230px;
        margin-left: -30px;
    } 
    .con-marq{
        display: block;
    }
}

@media only screen and  (max-width:790px){
    
   .wider{
       margin-left: 60px;
   }
   .con-marq{
       display: block;
       margin-left: 220px;
       text-align: start;
   }
}

@media only screen and (max-width:800px){
    /* .wider{
    
        text-align: center;
        width: 100%;
        margin:10px 150px 10px 50px;
    
    } */
    /* .marq{
        text-align: -80px;
        width:60px;
    } */
}
@media only screen and (max-width:630px){
    /* .col-offset-md-1{
    
        text-align: center;
        width: 100%;
        margin:10px 100px 10px 50px;
    
    } */
}
/* @media only screen and (max-width:770px){ */
    /* .marq{
    
       
     
       
margin-left: 100px;} */
@media only screen and (max-width:625px){
    /* .marq{
    
       
     
       
margin-left: -200px;} */
/* .marq1{
    
       
     
       
    margin-left: 40px;
    
    } */
    .row h3{
        font-size: 18pt;
        margin-left: -5px;
    }}
/* 
@media only screen and (max-width:320px){
    /* .marq{
    
       
     
       

    padding-left: -30px;
        display: flex;
    
    /* } */
/* } */
    
@media only screen and (max-width:900px){
    /* .marq{
    
       
     font-size: 12pt;
     font-weight: bold;
       
margin-left: 10px;;
    padding-left: -10px;
        display: flex;
    
    } */
    .row h3{
        font-size: 18pt;
        margin-left: -5px;
    }
}
@media only screen and (max-width:500px){
    /* .wider{
    margin-top: 10px;
        margin:auto;
        margin-bottom: 10px;;
        width: 250px;
        height: 80px;
        margin-left: -30px;;
        
       
    
    } */
    .medi{
        display: none;
    }
    .row h2{
        font-size: 18pt;
    }
}
@media only screen and (max-width:320px){
    /* .marq{
    
        text-align: center;
        width: 200px;
    
        margin:10px 100px 10px 50px;
    
    } */
    .frogyy{
        width: 100%;
        margin-left: -60px;
    }
   
}
  @media only screen and (max-width:320px){
    .gall p b{
    
        font-size: 9pt;
        word-spacing: -15px;
        


    }
} 
@media only screen and (max-width:320px){
    .adv{
        text-align: center;
        margin-left: -100px;
        margin-right: 40px;

    }
} 
@media only screen and (max-width:320px){
    .text{
    
    
    margin:auto;
    margin-left: 5px;
    
    }}
    @media only screen and (max-width:320px){
        .ig{
        
        
    margin-right: auto;  
    margin-left: -150px; 
    
     }
    .igg{
        width:30px;
        height: 30px;
    }}
    @media only screen and (max-width:700px){
        .ig{
        
        
   
    margin-left: -150px; 
    
     }}
    @media only screen and (max-width:1020px){
        .ig{
        margin: auto;
        margin-left: -410px;
        margin-top: 110px;
     }}
    @media only screen and (max-width:825px){
        .ig{
        
        
    margin-right: auto;  
    margin-left: -360px; 
    
     }
    .igg{
        width:35px;
        height: 35px;
    }}

    @media only screen and (max-width:750px) {
        .box {
            margin: 30px auto;
        }
    }
      